<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Brewery Compass</title>
</head>
<body>
  <div style="display: flex;">

    <h1 style="flex: auto; width: auto;">Welcome to Your Brewery Compass {{user.username}}!</h1>
    <form style="flex: auto;" action="/logout" method="post">
      <input type="submit" value="Log Out"/>
    </form>
  </div>
    <div style="display: flex;">
      <div style="flex: 5%;">
        <h2>
          Explored
        </h2>
        <br><br>
        {% if explored %}
          {% for brewery in explored %}
            <div>{{brewery.name}}</div>
          {% endfor %}
        {% else %}
          <div>
            No Brewries Explored Yet!
          </div>
        {% endif %}
      </div>
      <div style="flex: 10%;">
        <h2>
          My Radar
        </h2>
        <br><br>
        {% if radar %}
        {% else %}
          <div>
            No Brewries On Your Radar Yet!
          </div>
        {% endif %}
      </div>
      <div  style="flex: 50%;" >
        <form action="/search" method="post">
          <input type="text"  id="search" name="search" placeholder="Search for breweries..."/>
          <input type="submit" value="Search"/>
        </form>
        {% if breweries == None %}
        {% elif breweries|length > 0 %}
          {% for brewery in breweries %}
          <div>
            {% if brewery.website_url == None %}
              <h5>{{brewery.name}}</h5>
            {% else %}
              <h5><a href="{{brewery.website_url}}" target="_blank" rel="noopener noreferrer">{{brewery.name}}</a></h5>
            {% endif %}
            <form action="/addExplored" method="post">
              <input type="submit" value="Add to Explored"/>
              <input type="hidden" name="id" value="{{brewery.id}}"/>
            </form>
            <form action="/addRadar" method="post">
              <input type="submit" value="Add to Your Radar"/>
              <input type="hidden" name="id" value="{{brewery.id}}"/>
            </form>
            <p>{{brewery['address_1']}}</p>
            <p>{{brewery.city}}, {{brewery.state_province}}</p>
          </div>
          {% endfor %}
        {% else %}
          <h2>No breweries found :( Try a different search</h2>
        {% endif %}
      </div>
    </div>
</body>
</html>